@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body,
html {
  width: 100dvw;
  /* background: #f2f2f2; */
  background: #ffc7a7;
  overflow: hidden;
  touch-action: pan-x pan-y;
  height: 100dvh;
}

body {
  overflow-x: hidden;
  font-family: "SUIT", sans-serif;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    touch-action: pan-x pan-y;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
